body {

    background-color:#efeded;
}

.mainContainer
{
    background-color:#dbd9d9;
    box-shadow: 0px 5px 5px #888888;
    margin-left:auto;
    margin-right:auto;
    width:980px;
    min-height:600px;
    padding:5px;

}
.Footer
{
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    width:980px;
    min-height:20px;
    text-align: center;
    font-size:small;
    font-weight:bold;

}
